<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="exporterp" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ExportErpDefaultAdapter" Title="Default" UserControlType="ExportErpComaxAdapterView" DataContextViewModel="ExportErpComaxAdapterViewModel" ImportDomainEnum="ExportErpAdapter" Description="">
    <PROPERTY returntype="Boolean" name="Makat" value="False" />
    <PROPERTY returntype="Boolean" name="MakatOriginal" value="True" />
    <PROPERTY returntype="Boolean" name="IsFull" value="True" />
    <PROPERTY returntype="Boolean" name="IsExcludeNotExistingInCatalog" value="False" />
    <PROPERTY returntype="Boolean" name="IsFilterByIturs" value="False" />
  </INFO>
</ROOT>