<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="exportpda" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ExportHT630Adapter" Title="630" UserControlType="ExportHT630AdapterView" DataContextViewModel="ExportPdaHt630AdapterViewModel" ImportDomainEnum="ExportCatalog" Description="">
    <PROPERTY returntype="String" name="PdaTypeKey" value="HT630" />
    <PROPERTY returntype="String" name="MaintenanceTypeKey" value="Regular" />
    <PROPERTY returntype="String" name="ProgramTypeKey" value="Fashion" />
    <PROPERTY returntype="int32" name="Encoding" value="1255" />
    <PROPERTY returntype="Int32" name="Hash" value="0" />
    <PROPERTY returntype="Int32" name="FileType" value="2" />
    <PROPERTY returntype="Int32" name="QType" value="0" />
    <PROPERTY returntype="Int32" name="UseAlphaKey" value="1" />
    <PROPERTY returntype="String" name="HTcalculateLookUp" value="" />
    <PROPERTY returntype="String" name="AddNewLocation" value="" />
    <PROPERTY returntype="String" name="AddExtraInputValueSelectFromBatchListForm" value="" />
    <PROPERTY returntype="String" name="AllowNewValueFromBatchListForm" value="" />
    <PROPERTY returntype="String" name="SearchIfExistInBatchList" value="" />
    <PROPERTY returntype="String" name="AllowMinusQuantity" value="" />
    <PROPERTY returntype="String" name="FractionCalculate" value="" />
    <PROPERTY returntype="String" name="PartialQuantity" value="" />
    <PROPERTY returntype="String" name="AllowZeroQuantity" value="" />
    <PROPERTY returntype="String" name="LookUpEXE" value="" />
    <PROPERTY returntype="Int32" name="ClientId" value="0" />
    <PROPERTY returntype="Int32" name="NewItem" value="0" />
    <PROPERTY returntype="String" name="NewItemBool" value="false" />
    <PROPERTY returntype="String" name="ChangeQuantityType" value="true" />
    <PROPERTY returntype="String" name="LastSync" value="" />
    <PROPERTY returntype="Int32" name="MaxQuantity" value="0" />
    <PROPERTY returntype="String" name="ConfirmNewLocation" value="" />
    <PROPERTY returntype="String" name="ConfirmNewItem" value="" />
    <PROPERTY returntype="String" name="AutoSendData" value="" />
    <PROPERTY returntype="String" name="AllowQuantityFraction" value="" />
    <PROPERTY returntype="String" name="AddExtraInputValue" value="" />
    <PROPERTY returntype="String" name="AddExtraInputValueHeaderName" value="" />
    <PROPERTY returntype="String" name="MaxCharacters" value="16" />
    <PROPERTY returntype="String" name="Password" value="650" />
    <PROPERTY returntype="String" name="Host1" value="" />
    <PROPERTY returntype="String" name="Host2" value="" />
    <PROPERTY returntype="Int32" name="Timeout" value="0" />
    <PROPERTY returntype="Int32" name="Retry" value="0" />
    <PROPERTY returntype="Int32" name="SameBarcodeInLocation" value="0" />
    <PROPERTY returntype="String" name="DefaultHost" value="" />
    <PROPERTY returntype="Boolean" name="IturTypeByName" value="True" />
    <PROPERTY returntype="Boolean" name="IturTypeByERP" value="False" />
    <PROPERTY returntype="String" name="IturNamePrefix" value="אתר" />
    <PROPERTY returntype="Boolean" name="IsInvertPrefix" value="True" />
    <PROPERTY returntype="Boolean" name="IsAddBinarySearch" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="True" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="True" />
    <PROPERTY returntype="String" name="SearchDef" value="" />
    <PROPERTY returntype="Boolean" name="IsCutAfterInvert" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWordsConfig" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertLettersConfig" value="False" />
    <PROPERTY returntype="Int32" name="MaxCharactersValidated" value="0" />
  </INFO>
</ROOT>