<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="import" howuse="asis" from="absolute" value="С:\MIS" isdefault="1" />
  <INFO Name="ImportCatalogDefaultAdapter" Title="Default" UserControlType="ImportComaxASPAdapterView" DataContextViewModel="ImportComaxASPAdapterViewModel" ImportDomainEnum="ImportCatalog" Description="">
    <PROPERTY returntype="String" name="_fileName" value="items.asp" />
    <PROPERTY returntype="Boolean" name="ImportSupplier" value="False" />
    <PROPERTY returntype="String" name="BarcodeMask" value="7290000000000{F}" />
    <PROPERTY returntype="String" name="MakatMask" value="0000000000000{F}" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="False" />
  </INFO>
</ROOT>