<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="import" howuse="relative" from="asis" value="C:\MIS" isdefault="1" />
  <INFO Name="ImportPdaMISSqliteAdapter" Title="MIS Sqlite" UserControlType="ImportPdaMISSqliteAdapterView" DataContextViewModel="ImportPdaMISSqliteAdapterViewModel" ImportDomainEnum="ImportInventProduct" Description="">
    <PROPERTY returntype="String" name="_fileName" value="inData" />
    <PROPERTY returntype="Boolean" name="IsDirectory" value="True" />
    <PROPERTY returntype="Boolean" name="IsSingleFile" value="False" />
    <PROPERTY returntype="String" name="BarcodeMask" value="" />
    <PROPERTY returntype="String" name="MakatMask" value="" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="False" />
  </INFO>
</ROOT>