<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="exportpda" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ExportPdaNativPlusSQLiteAdapter" Title="Nativ+ SQLite" UserControlType="ExportPdaNativPlusSQLiteAdapterView" DataContextViewModel="ExportPdaNativPlusSQLiteAdapterViewModel" ImportDomainEnum="ExportCatalog" Description="">
    <PROPERTY returntype="String" name="Host" value="ftp://ftp.boscom.com" />
    <PROPERTY returntype="String" name="HostUser" value="idnext" />
    <PROPERTY returntype="String" name="HostPassword" value="ab1111!" />
    <PROPERTY returntype="Boolean" name="IncludeCurrentInventor" value="True" />
    <PROPERTY returntype="Boolean" name="IncludeProfile" value="False" />
    <PROPERTY returntype="Boolean" name="IncludePreviousInventor" value="True" />
  </INFO>
</ROOT>