<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="import" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ImportCatalogNativPlusXslxAdapter" Title="Nativ+ XLSX" UserControlType="ImportCatalogNativPlusXslxView" DataContextViewModel="ImportCatalogNativPlusXslxViewModel" ImportDomainEnum="ImportCatalog" Description="">
    <PROPERTY returntype="String" name="_fileName" value="Nativ_Infrastructure.xlsx" />
    <PROPERTY returntype="Boolean" name="SelectAll" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr1List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr2List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr3List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr4List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr5List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr6List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr7List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr8List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr9List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyStr10List" value="False" />
    <PROPERTY returntype="Boolean" name="ImportBuildingConfig" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPropertyDecorator" value="False" />
    <PROPERTY returntype="Boolean" name="ImportProfile" value="False" />
    <PROPERTY returntype="Boolean" name="ImportCatalog" value="False" />
    <PROPERTY returntype="Boolean" name="ImportLocation" value="False" />
    <PROPERTY returntype="Boolean" name="ImportPreviousInventory" value="False" />
    <PROPERTY returntype="Boolean" name="ImportTemplateInventory" value="False" />
    <PROPERTY returntype="Boolean" name="WithQuantityERP" value="False" />
    <PROPERTY returntype="String" name="BarcodeMask" value="" />
    <PROPERTY returntype="String" name="MakatMask" value="" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="False" />
  </INFO>
</ROOT>