<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Count4U.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
                                                                                                                                                                                                                                          </configSections>
  <connectionStrings>
    <add name="Count4U.Model.Properties.Settings.AuditDBConnectionString"
      connectionString="metadata=res://*/App_Data.AuditDB.csdl|res://*/App_Data.AuditDB.ssdl|res://*/App_Data.AuditDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source={0}&quot;" />
    <add name="Count4U.Model.Properties.Settings.Count4UDBConnectionString"
      connectionString="metadata=res://*/App_Data.Count4UDB.csdl|res://*/App_Data.Count4UDB.ssdl|res://*/App_Data.Count4UDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source={0};Default Lock Timeout=60000;  Max Database Size = {1}; Max Buffer Size = {2}&quot;" />
    <add name="Count4U.Model.Properties.Settings.MainDBConnectionString"
      connectionString="metadata=res://*/App_Data.MainDB.csdl|res://*/App_Data.MainDB.ssdl|res://*/App_Data.MainDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source={0}&quot;" />
    <add name="Count4U.Model.Properties.Settings.ProcessDBConnectionString"
      connectionString="metadata=res://*/App_Data.ProcessDB.csdl|res://*/App_Data.ProcessDB.ssdl|res://*/App_Data.ProcessDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source={0}&quot;" />
    <add name="Count4U.Model.Properties.Settings.AnalyticDBConnectionString"
      connectionString="metadata=res://*/App_Data.AnalyticDB.csdl|res://*/App_Data.AnalyticDB.ssdl|res://*/App_Data.AnalyticDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source={0}&quot;" />
  </connectionStrings>
  <applicationSettings>
    <Count4U.Model.Properties.Settings>
      <setting name="FolderApp_Data" serializeAs="String">
        <value>App_Data</value>
      </setting>
      <setting name="Count4UDBFile" serializeAs="String">
        <value>Count4UDB.sdf</value>
      </setting>
      <setting name="EmptyCount4UDBFile" serializeAs="String">
        <value>EmptyCount4UDB.sdf</value>
      </setting>
      <setting name="EmptyCount4UDBPath" serializeAs="String">
        <value>C:\Temp\testDB\App_Data\EmptyCount4UDB.sdf</value>
      </setting>
      <setting name="DebugDbPath" serializeAs="String">
        <value>\..\..\..\Count4U.Model\</value>
      </setting>
      <setting name="FolderInventor" serializeAs="String">
        <value>Inventor</value>
      </setting>
      <setting name="FolderImport" serializeAs="String">
        <value>ImportData</value>
      </setting>
      <setting name="DebugImportPath" serializeAs="String">
        <value>\..\..\..\Count4U.Model\</value>
      </setting>
      <setting name="FolderCustomer" serializeAs="String">
        <value>Customer</value>
      </setting>
      <setting name="FolderBranch" serializeAs="String">
        <value>Branch</value>
      </setting>
      <setting name="FolderLogoFile" serializeAs="String">
        <value>LogoFile</value>
      </setting>
      <setting name="AuditDBFile" serializeAs="String">
        <value>AuditDB.sdf</value>
      </setting>
      <setting name="MainDBFile" serializeAs="String">
        <value>MainDB.sdf</value>
      </setting>
      <setting name="SetupDbFolder" serializeAs="String">
        <value>SetupDb</value>
      </setting>
      <setting name="ReportTemplateFolder" serializeAs="String">
        <value>ReportTemplate</value>
      </setting>
      <setting name="ReportModulePath" serializeAs="String">
        <value>\..\..\..\Count4U.GenerationReport\</value>
      </setting>
      <setting name="ExportToPDAFolder" serializeAs="String">
        <value>ExportToPDA</value>
      </setting>
      <setting name="DebugExportToPDAPath" serializeAs="String">
        <value>\..\..\..\Count4U.Model\</value>
      </setting>
      <setting name="UploadFolder" serializeAs="String">
        <value>UploadPDA</value>
      </setting>
      <setting name="CustomerConfigHash" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerConfigFileType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CustomerConfigQType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerConfigUseAlphaKey" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CustomerConfigClientID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomerConfigNewItem" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FolderErpExport" serializeAs="String">
        <value>ExportData</value>
      </setting>
      <setting name="DebugDataPath" serializeAs="String">
        <value>\..\..\..\Count4U.Configuration\DebugData</value>
      </setting>
      <setting name="HomeOpacityBackground" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="CustomerOpacityBackground" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="BranchOpacityBackground" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="InventorOpacityBackground" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="MainOpacityBackground" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="HomeBackgroundFilePath" serializeAs="String">
        <value>C:\Count4U\trunk\Count4U\Count4U.Media\Background\Home.jpg</value>
      </setting>
      <setting name="BranchBackgroundFilePath" serializeAs="String">
        <value>C:\Count4U\trunk\Count4U\Count4U.Media\Background\Branch.jpg</value>
      </setting>
      <setting name="InventorBackgroundFilePath" serializeAs="String">
        <value>C:\Count4U\trunk\Count4U\Count4U.Media\Background\Inventor.jpg</value>
      </setting>
      <setting name="MainBackgroundFilePath" serializeAs="String">
        <value>C:\Count4U\trunk\Count4U\Count4U.Media\Background\Main.jpg</value>
      </setting>
      <setting name="CustomerConfigIturNameType" serializeAs="String">
        <value>ITUR</value>
      </setting>
      <setting name="CustomerConfigIturNamePrefix" serializeAs="String">
        <value>ITUR</value>
      </setting>
      <setting name="CustomerBackgroundFilePath" serializeAs="String">
        <value>C:\Count4U\trunk\Count4U\Count4U.Media\Background\Customer.jpg</value>
      </setting>
      <setting name="DBVer" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="ProductMakatBarcodesDictionaryCapacity" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="ConnectionEFMaxDatabaseSize" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="ConnectionEFMaxBufferSize" serializeAs="String">
        <value>4096</value>
      </setting>
      <setting name="CustomerConfigPassword" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="MISiDnextDataPath" serializeAs="String">
        <value>C:\MIS\IDnextData</value>
      </setting>
      <setting name="MISCommunicatorPath" serializeAs="String">
        <value>C:\MIS\MISCommunicator</value>
      </setting>
      <setting name="CustomerConfigHTcalculateLookUp" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="AddNewLocation" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="MaxQuantity" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="LastSync" serializeAs="String">
        <value>DD-MM-YY HH:MM</value>
      </setting>
      <setting name="AllowZeroQuantity" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="EmptyCount4MobileDBFile" serializeAs="String">
        <value>Count4MobileDbTemplete.db3</value>
      </setting>
      <setting name="SearchDef" serializeAs="String">
        <value>"normal"</value>
      </setting>
      <setting name="CustomerConfigNewItemBool" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="AnalyticDBFile" serializeAs="String">
        <value>AnalyticDB.sdf</value>
      </setting>
      <setting name="MaxLen" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="CustomerConfigInvertPrefix" serializeAs="String">
        <value>"0"</value>
      </setting>
      <setting name="ConfirmNewLocation" serializeAs="String">
        <value>"true"</value>
      </setting>
      <setting name="ConfirmNewItem" serializeAs="String">
        <value>"false"</value>
      </setting>
      <setting name="AutoSendData" serializeAs="String">
        <value>"0"</value>
      </setting>
      <setting name="AllowQuantityFraction" serializeAs="String">
        <value>"true"</value>
      </setting>
      <setting name="AddExtraInputValue" serializeAs="String">
        <value>"false"</value>
      </setting>
      <setting name="AddExtraInputValueHeaderName" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="AddExtraInputValueSelectFromBatchListForm" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="AllowNewValueFromBatchListForm" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="SearchIfExistInBatchList" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="AllowMinusQuantity" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="FractionCalculate" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="RootFolderFtp" serializeAs="String">
        <value>mINV</value>
      </setting>
      <setting name="RootComplexDataFolderFtp" serializeAs="String">
        <value>mINV\ComplexData</value>
      </setting>
      <setting name="PartialQuantity" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="Host1" serializeAs="String">
        <value>192.168.100.1</value>
      </setting>
      <setting name="Host2" serializeAs="String">
        <value>192.168.100.20</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Retry" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultHost" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="SameBarcodeInLocation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProcessDBFile" serializeAs="String">
        <value>ProcessDB.sdf</value>
      </setting>
      <setting name="EmptyAnalyticDBFile" serializeAs="String">
        <value>EmptyAnalyticDB.sdf</value>
      </setting>
      <setting name="EmptyAnalyticDBPath" serializeAs="String">
        <value>C:\Temp\testDB\App_Data\AnalyticDB.sdf</value>
      </setting>
      <setting name="EmptyAuditDBFile" serializeAs="String">
        <value>EmptyAuditDB.sdf</value>
      </setting>
      <setting name="EmptyMainDBFile" serializeAs="String">
        <value>EmptyMainDB.sdf</value>
      </setting>
    </Count4U.Model.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      
      
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

		<remove invariant="System.Data.SqlServerCe.3.5" />
		<remove invariant="System.Data.SqlServerCe.4.0" />
		<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe,       Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
	</DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
		</providers>-->
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>-->
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	  <providers>
		  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		  <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
		  <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
	  </providers>
  </entityFramework>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			<bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>