<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="import" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ImportCatalogGeneralCSVAdapter" Title="General CSV" UserControlType="ImportCatalogGeneralCSVView" DataContextViewModel="ImportCatalogGeneralCSVViewModel" ImportDomainEnum="ImportCatalog" Description="">
    <PROPERTY returntype="String" name="_fileName1" value="producs.csv" />
    <PROPERTY returntype="String" name="_fileName2" value="MLAY_002.csv" />
    <PROPERTY returntype="Boolean" name="WithQuantityErp" value="False" />
    <PROPERTY returntype="Boolean" name="ImportSection" value="False" />
    <PROPERTY returntype="String" name="BarcodeMask1" value="" />
    <PROPERTY returntype="String" name="MakatMask1" value="" />
    <PROPERTY returntype="String" name="BarcodeMask2" value="" />
    <PROPERTY returntype="String" name="MakatMask2" value="" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="False" />
  </INFO>
</ROOT>