<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="StatusSection" type="Count4U.Common.UserSettings.StatusSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="StatusGroupSection" type="Count4U.Common.UserSettings.StatusGroupSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_BranchDashboardPartView_DashboardPartBranch" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventorDashboardPartView_DashboardPartInventor" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductPartView_DashboardPartInventProduct" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MenuSection" type="Count4U.Common.UserSettings.Menu.MenuSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="LogTypeSection" type="Count4U.Common.UserSettings.LogType.LogTypeSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CommonSection" type="Count4U.Common.UserSettings.CommonSection, Count4U.Common, Version=1.0.2770.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <location allowOverride="true" inheritInChildApplications="true">
        <StatusSection />
        <StatusGroupSection />
        <CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches>
            <RegionElement Title="" X="320" Y="430" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches>
        <CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="10" Y="220" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer>
            <RegionElement Title="" X="10" Y="605" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer>
        <CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="956.6" Y="431.6" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <CustomerDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="10" Y="430" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_IturimDashboardPartView_DashboardPartIturim>
        <CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches>
        <CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <CustomerDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="320" Y="220" Width="315" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LocationDashboardPartView_DashboardPartLocation>
        <CustomerDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_MenuDashboardPartView_DashboardPartMenu>
        <CustomerDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="645" Y="605" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_PlanogramPartView_DashboardPartPlanogram>
        <CustomerDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="645" Y="220" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_ReportsDashboardPartView_DashboardPartReports>
        <CustomerDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="645" Y="430" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_SectionDashboardPartView_DashboardPartSection>
        <CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="320" Y="605" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <BranchDashboard_BranchDashboardPartView_DashboardPartBranch>
            <RegionElement Title="" X="320" Y="420" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_BranchDashboardPartView_DashboardPartBranch>
        <BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="10" Y="220" Width="300" Height="185"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <BranchDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="695" Y="450" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <BranchDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="320" Y="220" Width="300" Height="185"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_IturimDashboardPartView_DashboardPartIturim>
        <BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <BranchDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LocationDashboardPartView_DashboardPartLocation>
        <BranchDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_MenuDashboardPartView_DashboardPartMenu>
        <BranchDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="10" Y="600" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_PlanogramPartView_DashboardPartPlanogram>
        <BranchDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="645" Y="220" Width="300" Height="185"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_ReportsDashboardPartView_DashboardPartReports>
        <BranchDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="10" Y="420" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_SectionDashboardPartView_DashboardPartSection>
        <BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="645" Y="420" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="10" Y="200" Width="300" Height="175"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <InventorDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="955.80000000000007" Y="384.40000000000009"
                Width="300" Height="165" ColorR="0" ColorG="0" ColorB="0"
                Theme="Theme1" IsOpen="true" />
        </InventorDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
            <RegionElement Title="" X="320" Y="200" Width="315" Height="175"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
        <InventorDashboard_InventorDashboardPartView_DashboardPartInventor>
            <RegionElement Title="" X="10" Y="560" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventorDashboardPartView_DashboardPartInventor>
        <InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="180"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus>
        <InventorDashboard_InventProductPartView_DashboardPartInventProduct>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="180"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventProductPartView_DashboardPartInventProduct>
        <InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple>
            <RegionElement Title="" X="320" Y="560" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple>
        <InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum>
            <RegionElement Title="" X="645" Y="560" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum>
        <InventorDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="10" Y="385" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_IturimDashboardPartView_DashboardPartIturim>
        <InventorDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="645" Y="385" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_LocationDashboardPartView_DashboardPartLocation>
        <InventorDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="180"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_MenuDashboardPartView_DashboardPartMenu>
        <InventorDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="320" Y="735" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_PlanogramPartView_DashboardPartPlanogram>
        <InventorDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="645" Y="200" Width="300" Height="175"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_ReportsDashboardPartView_DashboardPartReports>
        <InventorDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="320" Y="385" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_SectionDashboardPartView_DashboardPartSection>
        <InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic>
            <RegionElement Title="" X="645" Y="735" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic>
        <InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="320" Y="735" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers>
            <RegionElement Title="" X="10" Y="220" Width="500" Height="150"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers>
        <MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild>
            <RegionElement Title="" X="10" Y="380" Width="500" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild>
        <MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="520" Y="10" Width="430" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <MainDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="500" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_MenuDashboardPartView_DashboardPartMenu>
        <MenuSection />
        <LogTypeSection>
            <LogTypeElementCollection>
                <LogType Name="SimpleTrace" IsEnabled="true" />
            </LogTypeElementCollection>
        </LogTypeSection>
        <CommonSection>
            <CommonElement CurrentConfigurationSet="default" ItursPortion="500"
                ItursPortionList="500" InventProductsPortion="200" ProductsPortion="50"
                CBIPortion="20" SectionsPortion="50" MainWindowTop="-7.2"
                MainWindowLeft="-7.2" MainWindowWidth="1536" MainWindowHeight="825.6"
                MainWindowIsMaximized="true" ImportEncoding="1255" GlobalEncoding="1200"
                Language="en" Delay="900" IturSort="Number" IturGroup="Location"
                IturMode="ModePaged" IsExpandedBottom="true" SuppliersPortion="50"
                FamilysPortion="50" BarcodeType="Code128" Printer="default"
                BarcodePrefix="%L%" CustomerFilterCode="" CustomerFilterName=""
                UseCustomerFilter="false" SearchDialogIsModal="false" IturNamePrefix="ITUR"
                Currency="₪" NavigateBackImportPdaForm="true" DashboardHomeBackground=""
                DashboardHomeBackgroundOpacity="0.2" DashboardCustomerBackground=""
                DashboardCustomerBackgroundOpacity="0.2" DashboardBranchBackground=""
                DashboardBranchBackgroundOpacity="0.2" DashboardInventorBackground=""
                DashboardInventorBackgroundOpacity="0.2" ReportRepository="IturAnalyzesBulkRepository"
                ShowIturERP="false" PackDataFileCatalog="true" IturFilterSelected="IturNumber"
                InventProductFilterFocus="CodeInputFromPDA" ReportAppName="COUNT4U"
                PlanEmptyColor="120,120,120" PlanZeroColor="160,160,160" PlanHundredColor="38,127,0"
                InventProductMarkColor="173,216,230" UploadWakeupTime="7"
                UploadOptionsHT630_BaudratePDAItem="57600" UploadOptionsRunMemoryItem="RAM"
                InventProductPropertyMarkSelectedItem="IPValueStr10" DomainObjectSelectedItem="Location"
                InventProductPropertyFilterSelectedItem="IPValueStr10" InventProductPropertyFilterSelectedNumberItem="IPValueInt3"
                InventProductPropertyPhotoSelectedItem="IPValueStr10" InventProductPropertySelectedItem="IPValueStr10"
                EditorTemplateSelectedItem="Nativ" UploadOptionsHT630_AfterUploadRunExeFileList="OFFLINE.EXE"
                UploadOptionsHT630_CurrentDataPDA="true" UploadOptionsHT630_BaudratePDA="true"
                UploadOptionsHT630_DeleteAllFilePDA="true" UploadOptionsHT630_ExeptionFileNotDelete="JENG.EXE;UPDATEDU.TXT;PDANUM.TXT"
                UploadOptionsHT630_AfterUploadPerformWarmStart="true" UploadOptionsHT630_AfterUploadRunExeFileNeedDo="true"
                CopyFromSource="false" ForwardResendData="false" TagSubstring="true"
                CopyFromHost="false" CopyByCodeInventor="true" CountingFromSource="true"
                ShowMark="false" PropertyIsEmpty="false" ImportPDAPath="C:\MIS"
                ExportPDAPath="C:\MIS" Host="ftp://ftp.boscom.com" User="idnext"
                Password="ab1111!" UploadOptionsHT630_AfterUploadRunExeFile="OFFLINE.EXE" />
        </CommonSection>
    </location>
</configuration>