<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="BranchDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_FromPdaDashboardPartView_DashboardPartFromPda" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_FromPdaDashboardPartView_DashboardPartFromPda" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_FamilyDashboardPartView_DashboardPartFamily" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_PlanogramPartView_DashboardPartPlanogram" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2741.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MenuSection" type="Count4U.Common.UserSettings.Menu.MenuSection, Count4U.Common, Version=1.0.2281.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2234.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2234.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2234.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2113.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2113.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventorDashboardPartView_DashboardPartInventor" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventProductPartView_DashboardPartInventProduct" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_BranchDashboardPartView_DashboardPartBranch" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2014.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_IturimDashboardPartView_DashboardPartIturim" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LocationDashboardPartView_DashboardPartLocation" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_ReportsDashboardPartView_DashboardPartReports" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_SectionDashboardPartView_DashboardPartSection" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="StatusGroupSection" type="Count4U.Common.UserSettings.StatusGroupSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="StatusSection" type="Count4U.Common.UserSettings.StatusSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_MenuDashboardPartView_DashboardPartMenu" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="LogTypeSection" type="Count4U.Common.UserSettings.LogType.LogTypeSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CommonSection" type="Count4U.Common.UserSettings.CommonSection, Count4U.Common, Version=1.0.2000.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <location allowOverride="true" inheritInChildApplications="true">
        <BranchDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="712" Y="432" Width="334" Height="235"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <BranchDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
            <RegionElement Title="" X="711" Y="203" Width="336" Height="225"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
        <BranchDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="10" Y="600" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </BranchDashboard_PlanogramPartView_DashboardPartPlanogram>
        <CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="1104" Y="200" Width="317" Height="216"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <CustomerDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
            <RegionElement Title="" X="1103" Y="12" Width="315" Height="183"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
        <CustomerDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="645" Y="605" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </CustomerDashboard_PlanogramPartView_DashboardPartPlanogram>
        <InventorDashboard_FamilyDashboardPartView_DashboardPartFamily>
            <RegionElement Title="" X="634" Y="452" Width="351" Height="237"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_FamilyDashboardPartView_DashboardPartFamily>
        <InventorDashboard_PlanogramPartView_DashboardPartPlanogram>
            <RegionElement Title="" X="320" Y="735" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_PlanogramPartView_DashboardPartPlanogram>
        <InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic>
            <RegionElement Title="" X="645" Y="735" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_StatisticDashboardPartView_DashboardPartStatistic>
        <MenuSection>
            <MenuElementCollection>
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsAddCustomer"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="AddCustomer"
                    SortIndex="1" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsPack"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="Pack"
                    SortIndex="2" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsAddBranch"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="AddBranch"
                    SortIndex="3" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsSearchCustomer"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="SearchCustomer"
                    SortIndex="4" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsSearchBranch"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="SearchBranch"
                    SortIndex="5" />
                <Menu IsVisible="true" BackgroundColor="153,204,001" Key="DashboardHomeMenuCommandsAddInventor"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="AddInventor"
                    SortIndex="0" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsSearchInventor"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="SearchInventor"
                    SortIndex="6" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsReportFavorites"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="ReportFavorites"
                    SortIndex="7" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsAdapters"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="Adapters"
                    SortIndex="8" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardHomeMenuCommandsUnpack"
                    DashboardName="DashboardHome" PartName="MenuCommands" Name="Unpack"
                    SortIndex="9" />
                <Menu IsVisible="true" BackgroundColor="153,204,001" Key="DashboardBranchMenuCommandsAddInventor"
                    DashboardName="DashboardBranch" PartName="MenuCommands" Name="AddInventor"
                    SortIndex="0" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardBranchMenuCommandsSearchInventor"
                    DashboardName="DashboardBranch" PartName="MenuCommands" Name="SearchInventor"
                    SortIndex="0" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardBranchMenuCommandsReportFavorites"
                    DashboardName="DashboardBranch" PartName="MenuCommands" Name="ReportFavorites"
                    SortIndex="1" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardBranchMenuCommandsProperties"
                    DashboardName="DashboardBranch" PartName="MenuCommands" Name="Properties"
                    SortIndex="3" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardBranchMenuCommandsPack"
                    DashboardName="DashboardBranch" PartName="MenuCommands" Name="Pack"
                    SortIndex="4" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsAddBranch"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="AddBranch" SortIndex="1" />
                <Menu IsVisible="true" BackgroundColor="153,204,001" Key="DashboardCustomerMenuCommandsAddInventor"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="AddInventor" SortIndex="0" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsSearchBranch"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="SearchBranch" SortIndex="2" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsSearchInventor"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="SearchInventor" SortIndex="3" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsReportFavorites"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="ReportFavorites" SortIndex="4" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsProperties"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="Properties" SortIndex="5" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardCustomerMenuCommandsPack"
                    DashboardName="DashboardCustomer" PartName="MenuCommands"
                    Name="Pack" SortIndex="6" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardInventorMenuCommandsImportFromPda"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="ImportFromPda" SortIndex="0" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardInventorMenuCommandsReportFavorites"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="ReportFavorites" SortIndex="4" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardInventorMenuCommandsExportPDA"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="ExportPDA" SortIndex="1" />
                <Menu IsVisible="true" BackgroundColor="153,204,001" Key="DashboardInventorMenuCommandsExportERP"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="ExportERP" SortIndex="2" />
                <Menu IsVisible="true" BackgroundColor="100,193,255" Key="DashboardInventorMenuCommandsProperties"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="Properties" SortIndex="3" />
                <Menu IsVisible="true" BackgroundColor="255,204,000" Key="DashboardInventorMenuCommandsPack"
                    DashboardName="DashboardInventor" PartName="MenuCommands"
                    Name="Pack" SortIndex="5" />
            </MenuElementCollection>
        </MenuSection>
        <CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="692" Y="146" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </CustomerDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="724" Y="8" Width="272" Height="189"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </BranchDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier>
            <RegionElement Title="" X="276" Y="452" Width="301" Height="135"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_SupplierDashboardPartView_DashboardPartSupplier>
        <InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple>
            <RegionElement Title="" X="320" Y="560" Width="315" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_InventProductSimplePartView_DashboardParthInventProductSimple>
        <InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum>
            <RegionElement Title="" X="1036" Y="325" Width="300" Height="165"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_InventProductSumPartView_DashboardParthInventProductSum>
        <InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="9" Y="195" Width="309" Height="248"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme4" IsOpen="true" />
        </InventorDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
            <RegionElement Title="" X="635" Y="7" Width="350" Height="314"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_FromPdaDashboardPartView_DashboardPartFromPda>
        <InventorDashboard_InventorDashboardPartView_DashboardPartInventor>
            <RegionElement Title="" X="326" Y="195" Width="301" Height="249"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </InventorDashboard_InventorDashboardPartView_DashboardPartInventor>
        <InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus>
            <RegionElement Title="" X="328" Y="6" Width="300" Height="184"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventorStatusDashboardPartView_DashboardPartInventorStatus>
        <InventorDashboard_InventProductPartView_DashboardPartInventProduct>
            <RegionElement Title="" X="633" Y="326" Width="352" Height="121"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventProductPartView_DashboardPartInventProduct>
        <InventorDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="9" Y="449" Width="306" Height="237"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_IturimDashboardPartView_DashboardPartIturim>
        <InventorDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="325" Y="449" Width="301" Height="239"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_LocationDashboardPartView_DashboardPartLocation>
        <InventorDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="5" Y="6" Width="312" Height="182"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </InventorDashboard_MenuDashboardPartView_DashboardPartMenu>
        <InventorDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="614" Y="7" Width="242" Height="564"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="false" />
        </InventorDashboard_ReportsDashboardPartView_DashboardPartReports>
        <InventorDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="991" Y="7" Width="353" Height="440"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_SectionDashboardPartView_DashboardPartSection>
        <BranchDashboard_BranchDashboardPartView_DashboardPartBranch>
            <RegionElement Title="" X="352" Y="202" Width="349" Height="224"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </BranchDashboard_BranchDashboardPartView_DashboardPartBranch>
        <BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="10" Y="204" Width="327" Height="221"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme4" IsOpen="true" />
        </BranchDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <BranchDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="8" Y="431" Width="328" Height="232"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_IturimDashboardPartView_DashboardPartIturim>
        <BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="347" Y="10" Width="700" Height="186"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <BranchDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="344" Y="433" Width="358" Height="233"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LocationDashboardPartView_DashboardPartLocation>
        <BranchDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="327" Height="187"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </BranchDashboard_MenuDashboardPartView_DashboardPartMenu>
        <BranchDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="645" Y="220" Width="300" Height="223"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </BranchDashboard_ReportsDashboardPartView_DashboardPartReports>
        <BranchDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="1054" Y="10" Width="333" Height="418"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_SectionDashboardPartView_DashboardPartSection>
        <CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer>
            <RegionElement Title="" X="399" Y="201" Width="318" Height="234"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme4" IsOpen="true" />
        </CustomerDashboard_CustomerDashboardPartView_DashboardPartCustomer>
        <CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches>
            <RegionElement Title="" X="724" Y="200" Width="376" Height="464"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </CustomerDashboard_BranchesDashboardPartView_DashboardPartAllBranches>
        <CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
            <RegionElement Title="" X="18" Y="201" Width="370" Height="234"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme4" IsOpen="true" />
        </CustomerDashboard_CatalogInfoForCBIDashboardPartView_DashboardPartCatalogInfoForCBI>
        <CustomerDashboard_IturimDashboardPartView_DashboardPartIturim>
            <RegionElement Title="" X="15" Y="441" Width="373" Height="223"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_IturimDashboardPartView_DashboardPartIturim>
        <CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches>
            <RegionElement Title="" X="399" Y="10" Width="321" Height="182"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </CustomerDashboard_LastBranchesDashboardPartView_DashboardPartBranches>
        <CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="394" Y="12" Width="704" Height="183"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <CustomerDashboard_LocationDashboardPartView_DashboardPartLocation>
            <RegionElement Title="" X="397" Y="441" Width="318" Height="222"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LocationDashboardPartView_DashboardPartLocation>
        <CustomerDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="17" Y="9" Width="370" Height="188"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </CustomerDashboard_MenuDashboardPartView_DashboardPartMenu>
        <CustomerDashboard_ReportsDashboardPartView_DashboardPartReports>
            <RegionElement Title="" X="825" Y="221" Width="300" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="false" />
        </CustomerDashboard_ReportsDashboardPartView_DashboardPartReports>
        <CustomerDashboard_SectionDashboardPartView_DashboardPartSection>
            <RegionElement Title="" X="1106" Y="423" Width="316" Height="239"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_SectionDashboardPartView_DashboardPartSection>
        <StatusGroupSection>
            <StatusGroupElementCollection>
                <status Name="OneDocIsApprove" Color="127,255,000" />
            </StatusGroupElementCollection>
        </StatusGroupSection>
        <StatusSection />
        <MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers>
            <RegionElement Title="" X="520" Y="218" Width="500" Height="449"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomers>
        <MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild>
            <RegionElement Title="" X="10" Y="217" Width="500" Height="448"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastCustomersDashboardPartView_DashboardPartLastCustomersBuild>
        <MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
            <RegionElement Title="" X="520" Y="10" Width="498" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme4" IsOpen="true" />
        </MainDashboard_LastInventorsDashboardPartView_DashboardPartLastInventors>
        <MainDashboard_MenuDashboardPartView_DashboardPartMenu>
            <RegionElement Title="" X="10" Y="10" Width="500" Height="200"
                ColorR="0" ColorG="0" ColorB="0" Theme="Theme2" IsOpen="true" />
        </MainDashboard_MenuDashboardPartView_DashboardPartMenu>
        <LogTypeSection>
            <LogTypeElementCollection>
                <LogType Name="SimpleTrace" IsEnabled="true" />
                <LogType Name="Trace" IsEnabled="false" />
                <LogType Name="TraceParser" IsEnabled="false" />
                <LogType Name="TraceRepository" IsEnabled="false" />
                <LogType Name="TraceProvider" IsEnabled="false" />
                <LogType Name="Warning" IsEnabled="false" />
                <LogType Name="WarningParser" IsEnabled="false" />
                <LogType Name="WarningRepository" IsEnabled="false" />
                <LogType Name="TraceParserResult" IsEnabled="false" />
                <LogType Name="TraceRepositoryResult" IsEnabled="false" />
                <LogType Name="TraceProviderResult" IsEnabled="false" />
            </LogTypeElementCollection>
        </LogTypeSection>
        <CommonSection>
            <CommonElement CurrentConfigurationSet="default" ItursPortion="1000"
                ItursPortionList="500" InventProductsPortion="200" ProductsPortion="100"
                CBIPortion="200" SectionsPortion="50" MainWindowTop="175"
                MainWindowLeft="175" MainWindowWidth="1600" MainWindowHeight="860"
                MainWindowIsMaximized="true" ImportEncoding="1255" GlobalEncoding="1200"
                Language="he" Delay="1000" IturSort="Number" IturGroup="Location"
                IturMode="ModePaged" IsExpandedBottom="false" SuppliersPortion="50"
                FamilysPortion="50" BarcodeType="Code128" Printer="default"
                BarcodePrefix="%L%" CustomerFilterCode="" CustomerFilterName=""
                UseCustomerFilter="false" SearchDialogIsModal="false" IturNamePrefix="ITUR"
                Currency="₪" NavigateBackImportPdaForm="true" DashboardHomeBackground=""
                DashboardHomeBackgroundOpacity="0.2" DashboardCustomerBackground=""
                DashboardCustomerBackgroundOpacity="0.2" DashboardBranchBackground=""
                DashboardBranchBackgroundOpacity="0.2" DashboardInventorBackground=""
                DashboardInventorBackgroundOpacity="0.2" ReportRepository="IturAnalyzesBulkRepository"
                ShowIturERP="false" PackDataFileCatalog="true" IturFilterSelected="IturNumber"
                InventProductFilterFocus="CodeInputFromPDA" ReportAppName="COUNT4U"
                PlanEmptyColor="120,120,120" PlanZeroColor="160,160,160" PlanHundredColor="38,127,0"
                InventProductMarkColor="173,216,230" UploadWakeupTime="7"
                UploadOptionsHT630_BaudratePDAItem="57600" UploadOptionsRunMemoryItem="RAM"
                InventProductPropertyMarkSelectedItem="IPValueStr10" DomainObjectSelectedItem="Location"
                InventProductPropertyFilterSelectedItem="IPValueStr10" InventProductPropertyFilterSelectedNumberItem="IPValueInt3"
                InventProductPropertyPhotoSelectedItem="IPValueStr10" InventProductPropertySelectedItem="IPValueStr10"
                EditorTemplateSelectedItem="Nativ" UploadOptionsHT630_AfterUploadRunExeFileList="OFFLINE.EXE"
                UploadOptionsHT630_CurrentDataPDA="true" UploadOptionsHT630_BaudratePDA="true"
                UploadOptionsHT630_DeleteAllFilePDA="true" UploadOptionsHT630_ExeptionFileNotDelete="JENG.EXE;UPDATEDU.TXT;PDANUM.TXT"
                UploadOptionsHT630_AfterUploadPerformWarmStart="true" UploadOptionsHT630_AfterUploadRunExeFileNeedDo="true"
                CopyFromSource="true" ForwardResendData="false" TagSubstring="true"
                CopyFromHost="false" CopyByCodeInventor="true" CountingFromSource="true"
                ShowMark="false" PropertyIsEmpty="false" ImportPDAPath="C:\MIS"
                ExportPDAPath="C:\MIS" Host="ftp://ftp.boscom.com" User="idnext"
                Password="ab1111!" UploadOptionsHT630_AfterUploadRunExeFile="OFFLINE.EXE" />
        </CommonSection>
    </location>
</configuration>