<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="StatusSection" type="Count4U.Common.UserSettings.StatusSection, Count4U.Common, Version=1.0.1968.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_BranchesDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_CatalogInfoForCBIDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_IturimDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastBranchesDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LastInventorsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_LocationDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_MenuDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CustomerDashboard_ReportsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_CatalogInfoForCBIDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_IturimDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LastInventorsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_LocationDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_MenuDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="BranchDashboard_ReportsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1961.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="StatusGroupSection" type="Count4U.Common.UserSettings.StatusGroupSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_CatalogInfoForCBIDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_FromPdaDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_InventorStatusDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_IturimDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_LocationDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_MenuDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_PdaDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="InventorDashboard_ReportsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastCustomersDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_LastInventorsDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="MainDashboard_MenuDashboardPartView" type="Count4U.Common.UserSettings.RegionSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="LogTypeSection" type="Count4U.Common.UserSettings.LogType.LogTypeSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="CommonSection" type="Count4U.Common.UserSettings.CommonSection, Count4U.Common, Version=1.0.1958.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <location allowOverride="true" inheritInChildApplications="true">
        <StatusSection>
            <StatusElementCollection>
                <status Name="NoOneDoc" Color="250,235,215" />
                <status Name="OneDocIsNotApprove" Color="212,249,212" />
                <status Name="OneDocIsApprove" Color="211,211,211" />
                <status Name="SomeDocIsNotApprove" Color="237,213,237" />
                <status Name="SomeDocIsApprove" Color="255,218,185" />
                <status Name="DisableAndNoOneDoc" Color="032,178,170" />
                <status Name="DisableAndOneDocIsNotApprove" Color="119,136,153" />
                <status Name="DisableAndOneDocIsApprove" Color="176,196,222" />
                <status Name="DisableAndSomeDocIsNotApprove" Color="255,255,224" />
                <status Name="DisableAndSomeDocIsApprove" Color="250,128,114" />
                <status Name="WarningConvert" Color="255,165,000" />
            </StatusElementCollection>
        </StatusSection>
        <CustomerDashboard_BranchesDashboardPartView>
            <RegionElement Title="" X="320" Y="430" Width="315" Height="165"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_BranchesDashboardPartView>
        <CustomerDashboard_CatalogInfoForCBIDashboardPartView>
            <RegionElement Title="" X="10" Y="220" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_CatalogInfoForCBIDashboardPartView>
        <CustomerDashboard_IturimDashboardPartView>
            <RegionElement Title="" X="10" Y="430" Width="300" Height="165"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_IturimDashboardPartView>
        <CustomerDashboard_LastBranchesDashboardPartView>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LastBranchesDashboardPartView>
        <CustomerDashboard_LastInventorsDashboardPartView>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LastInventorsDashboardPartView>
        <CustomerDashboard_LocationDashboardPartView>
            <RegionElement Title="" X="320" Y="220" Width="315" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_LocationDashboardPartView>
        <CustomerDashboard_MenuDashboardPartView>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_MenuDashboardPartView>
        <CustomerDashboard_ReportsDashboardPartView>
            <RegionElement Title="" X="645" Y="220" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </CustomerDashboard_ReportsDashboardPartView>
        <BranchDashboard_CatalogInfoForCBIDashboardPartView>
            <RegionElement Title="" X="10" Y="220" Width="300" Height="185"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_CatalogInfoForCBIDashboardPartView>
        <BranchDashboard_IturimDashboardPartView>
            <RegionElement Title="" X="320" Y="220" Width="315" Height="185"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_IturimDashboardPartView>
        <BranchDashboard_LastInventorsDashboardPartView>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LastInventorsDashboardPartView>
        <BranchDashboard_LocationDashboardPartView>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_LocationDashboardPartView>
        <BranchDashboard_MenuDashboardPartView>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_MenuDashboardPartView>
        <BranchDashboard_ReportsDashboardPartView>
            <RegionElement Title="" X="645" Y="220" Width="300" Height="185"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </BranchDashboard_ReportsDashboardPartView>
        <StatusGroupSection>
            <StatusGroupElementCollection>
                <status Name="Empty" Color="255,255,255" />
                <status Name="OneDocIsApprove" Color="144,238,144" />
                <status Name="AllDocsIsApprove" Color="173,216,230" />
                <status Name="NotApprove" Color="255,099,071" />
                <status Name="DisableAndNoOneDoc" Color="128,128,128" />
                <status Name="DisableWithDocs" Color="165,042,042" />
                <status Name="Error" Color="255,165,000" />
            </StatusGroupElementCollection>
        </StatusGroupSection>
        <InventorDashboard_CatalogInfoForCBIDashboardPartView>
            <RegionElement Title="" X="10" Y="200" Width="300" Height="175"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_CatalogInfoForCBIDashboardPartView>
        <InventorDashboard_FromPdaDashboardPartView>
            <RegionElement Title="" X="320" Y="200" Width="315" Height="175"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="false" />
        </InventorDashboard_FromPdaDashboardPartView>
        <InventorDashboard_InventorStatusDashboardPartView>
            <RegionElement Title="" X="645" Y="10" Width="300" Height="180"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_InventorStatusDashboardPartView>
        <InventorDashboard_IturimDashboardPartView>
            <RegionElement Title="" X="10" Y="385" Width="300" Height="251"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_IturimDashboardPartView>
        <InventorDashboard_LocationDashboardPartView>
            <RegionElement Title="" X="326" Y="205" Width="305" Height="259"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_LocationDashboardPartView>
        <InventorDashboard_MenuDashboardPartView>
            <RegionElement Title="" X="10" Y="10" Width="300" Height="180"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_MenuDashboardPartView>
        <InventorDashboard_PdaDashboardPartView>
            <RegionElement Title="" X="320" Y="10" Width="315" Height="180"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </InventorDashboard_PdaDashboardPartView>
        <InventorDashboard_ReportsDashboardPartView>
            <RegionElement Title="" X="645" Y="200" Width="357" Height="475"
                ColorR="153" ColorG="204" ColorB="1" Theme="Theme4" IsOpen="true" />
        </InventorDashboard_ReportsDashboardPartView>
        <MainDashboard_LastCustomersDashboardPartView>
            <RegionElement Title="" X="70" Y="218" Width="500" Height="181"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme3" IsOpen="true" />
        </MainDashboard_LastCustomersDashboardPartView>
        <MainDashboard_LastInventorsDashboardPartView>
            <RegionElement Title="" X="584" Y="0" Width="396" Height="397"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme1" IsOpen="true" />
        </MainDashboard_LastInventorsDashboardPartView>
        <MainDashboard_MenuDashboardPartView>
            <RegionElement Title="" X="74" Y="0" Width="500" Height="200"
                ColorR="255" ColorG="204" ColorB="0" Theme="Theme4" IsOpen="true" />
        </MainDashboard_MenuDashboardPartView>
        <LogTypeSection>
            <LogTypeElementCollection>
                <LogType Name="Trace" IsEnabled="true" />
                <LogType Name="TraceParser" IsEnabled="true" />
                <LogType Name="TraceRepository" IsEnabled="true" />
                <LogType Name="TraceProvider" IsEnabled="true" />
                <LogType Name="Warning" IsEnabled="true" />
                <LogType Name="WarningParser" IsEnabled="true" />
                <LogType Name="WarningRepository" IsEnabled="true" />
                <LogType Name="TraceParserResult" IsEnabled="true" />
                <LogType Name="TraceRepositoryResult" IsEnabled="true" />
                <LogType Name="TraceProviderResult" IsEnabled="true" />
            </LogTypeElementCollection>
        </LogTypeSection>
        <CommonSection>
            <CommonElement CurrentConfigurationSet="default" ItursPortion="200"
                ItursPortionList="50" InventProductsPortion="50" ProductsPortion="50"
                CBIPortion="20" MainWindowTop="172" MainWindowLeft="239" MainWindowWidth="1198"
                MainWindowHeight="898" MainWindowIsMaximized="true" ImportEncoding="1255"
                GlobalEncoding="1200" Language="en" />
        </CommonSection>
    </location>
</configuration>
