<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="Count4UDBEntities" connectionString="metadata=res://*/ModelCount4U.csdl|res://*/ModelCount4U.ssdl|res://*/ModelCount4U.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\Count4UDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="MainDBEntities" connectionString="metadata=res://*/MainDB.csdl|res://*/MainDB.ssdl|res://*/MainDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\MainDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="MainDB" connectionString="metadata=res://*/MainDB.csdl|res://*/MainDB.ssdl|res://*/MainDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|MainDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="MainDBEntities1" connectionString="metadata=res://*/MainDB.csdl|res://*/MainDB.ssdl|res://*/MainDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectoryMainDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="AuditDB" connectionString="metadata=res://*/AuditDB.csdl|res://*/AuditDB.ssdl|res://*/AuditDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|AuditDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="Count4UDB" connectionString="metadata=res://*/Count4UDB.csdl|res://*/Count4UDB.ssdl|res://*/Count4UDB.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\Count4UDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>