<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="exportpda" howuse="relative" from="indata" value="" isdefault="1" />
  <INFO Name="ExportPdaMISAdapter" Title="MIS" UserControlType="ExportPdaMISAdapterView" DataContextViewModel="ExportPdaMISAdapterViewModel" ImportDomainEnum="ExportCatalog" Description="">
    <PROPERTY returntype="String" name="PdaTypeKey" value="HT630" />
    <PROPERTY returntype="String" name="MaintenanceTypeKey" value="Regular" />
    <PROPERTY returntype="String" name="ProgramTypeKey" value="Market" />
    <PROPERTY returntype="int32" name="Encoding" value="1200" />
    <PROPERTY returntype="Int32" name="Hash" value="0" />
    <PROPERTY returntype="Int32" name="FileType" value="2" />
    <PROPERTY returntype="Int32" name="QType" value="0" />
    <PROPERTY returntype="Int32" name="UseAlphaKey" value="0" />
    <PROPERTY returntype="String" name="HTcalculateLookUp" value="false" />
    <PROPERTY returntype="String" name="AddNewLocation" value="false" />
    <PROPERTY returntype="String" name="AddExtraInputValueSelectFromBatchListForm" value="false" />
    <PROPERTY returntype="String" name="AllowNewValueFromBatchListForm" value="false" />
    <PROPERTY returntype="String" name="SearchIfExistInBatchList" value="false" />
    <PROPERTY returntype="String" name="AllowMinusQuantity" value="false" />
    <PROPERTY returntype="String" name="FractionCalculate" value="false" />
    <PROPERTY returntype="String" name="PartialQuantity" value="false" />
    <PROPERTY returntype="String" name="AllowZeroQuantity" value="false" />
    <PROPERTY returntype="String" name="LookUpEXE" value="C:\MIS\IDnextData" />
    <PROPERTY returntype="Int32" name="ClientId" value="0" />
    <PROPERTY returntype="Int32" name="NewItem" value="0" />
    <PROPERTY returntype="String" name="NewItemBool" value="false" />
    <PROPERTY returntype="String" name="LastSync" value="01/07/2019 12:26" />
    <PROPERTY returntype="Int32" name="MaxQuantity" value="100" />
    <PROPERTY returntype="String" name="ConfirmNewLocation" value="true" />
    <PROPERTY returntype="String" name="ConfirmNewItem" value="true" />
    <PROPERTY returntype="String" name="AutoSendData" value="0" />
    <PROPERTY returntype="String" name="AllowQuantityFraction" value="true" />
    <PROPERTY returntype="String" name="AddExtraInputValue" value="false" />
    <PROPERTY returntype="String" name="AddExtraInputValueHeaderName" value="" />
    <PROPERTY returntype="String" name="MaxCharacters" value="25" />
    <PROPERTY returntype="String" name="Password" value="650" />
    <PROPERTY returntype="String" name="Host1" value="192.168.100.1" />
    <PROPERTY returntype="String" name="Host2" value="192.168.100.20" />
    <PROPERTY returntype="Int32" name="Timeout" value="10" />
    <PROPERTY returntype="Int32" name="Retry" value="3" />
    <PROPERTY returntype="Int32" name="SameBarcodeInLocation" value="0" />
    <PROPERTY returntype="String" name="DefaultHost" value="USB" />
    <PROPERTY returntype="Boolean" name="IturTypeByName" value="True" />
    <PROPERTY returntype="Boolean" name="IturTypeByERP" value="False" />
    <PROPERTY returntype="String" name="IturNamePrefix" value="אתר" />
    <PROPERTY returntype="Boolean" name="IsInvertPrefix" value="True" />
    <PROPERTY returntype="Boolean" name="IsAddBinarySearch" value="False" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="True" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="True" />
    <PROPERTY returntype="String" name="SearchDef" value="normal,market:729,add_leading:0;13" />
    <PROPERTY returntype="Boolean" name="IsCutAfterInvert" value="True" />
    <PROPERTY returntype="Boolean" name="IsInvertWordsConfig" value="True" />
    <PROPERTY returntype="Boolean" name="IsInvertLettersConfig" value="True" />
    <PROPERTY returntype="Int32" name="MaxCharactersValidated" value="0" />
  </INFO>
</ROOT>