<?xml version="1.0" encoding="utf-8"?>
<ROOT>
  <FROMPATH domainobject="inventor" adapteruse="import" howuse="asis" from="absolute" value="C:\tmp" isdefault="1" />
  <INFO Name="ImportCatalogMirkamSonolSAPAdapter" Title="Mirkam SAP" UserControlType="ImportMirkamSonolSAPAdapterView" DataContextViewModel="ImportMirkamSonolSAPAdapterViewModel" ImportDomainEnum="ImportCatalog" Description="">
    <PROPERTY returntype="String" name="_fileName" value="TOINFO.txt" />
    <PROPERTY returntype="Boolean" name="WithQuantityErp" value="False" />
    <PROPERTY returntype="String" name="BarcodeMask" value="" />
    <PROPERTY returntype="String" name="MakatMask" value="" />
    <PROPERTY returntype="Boolean" name="IsInvertLetters" value="True" />
    <PROPERTY returntype="Boolean" name="IsInvertWords" value="True" />
  </INFO>
</ROOT>